<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Add New Singer to Roster</h2>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Singer Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Singer Voice Part:</label>
        <br>
        <input #newVoice>
      </div>

      <div>
        <label>Singer Office(s) Held (default is "singer"):</label>
        <br>
        <textarea #newOffice placeholder="singer"></textarea>
      </div>

      <div>
        <label>Singer Folder #:</label>
        <br>
        <input #newFolder>
      </div>

      <button (click)="submitForm(newName.value, newVoice.value, newOffice.value, newFolder.value); newName.value=''; newVoice.value=''; newOffice.value=''; newFolder.value=''">Add New Singer</button>
    </div>
  </div>
</div>

<div>
  <app-singers></app-singers>
</div>
